body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items:start;
    background-color: #313432;
}   

header {
    background-color: #222222;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    color: #F5CB5A;
}

header img:first-child {
    width: 100px;
}

header img:last-child {
    width: 70px;
    padding-right: 17px;
}

.theader {
    margin-right: 700px;
    font-size: 30px;
}

.profile {
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222222;
}

footer p {
    text-align: center;
    color: white;
    Font-family: monospace;
    font-size: 11px;
}

.fenetre {
    padding-left: 50px;
    margin-top: 120px;
}

.fenetre div p {
    background-color: #222222;
    width: fit-content;
    margin-top: 30px;
    font-size: 30px;
    font-family: monospace;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.fenetre div p:hover {
    color: #F5CB5A;
}

.generate {
    position: absolute;
    margin-top: 430px;
    margin-left: 940px;
    background-color: #222222;
    border-radius: 15px;
}

.generate * {
    display: block;
    font-family: monospace;
}

input[type="text"] {
    width: 250px;
    padding: 10px;
    margin: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 6px 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 25px;
    background-color: #F5CB5A;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #cdaa4b;
}