body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items:start;
    background-color: #313432;
}   

header {
    background-color: #222222;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    color: #F5CB5A;
}

header img:first-child {
    width: 100px;
}

header img:last-child {
    width: 70px;
    padding-right: 17px;
}

.theader {
    margin-right: 700px;
    font-size: 30px;
}

.profile {
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222222;
}

footer p {
    text-align: center;
    color: white;
    Font-family: monospace;
    font-size: 11px;
}

.fenetre {
    padding-left: 50px;
    margin-top: 120px;
}

.fenetre p {
    background-color: #222222;
    width: fit-content;
    margin-top: 30px;
    font-size: 30px;
    font-family: monospace;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.fenetre p:hover {
    color: #cdaa4b;
}

.Générateur {
    font-family: monospace;
    position: absolute;
    right: 3%;
    bottom: 10%;
    background-color: #222222;
    padding: 2%;
    border-radius: 15px;
}

.Générateur * {
    margin-bottom: 3%;
}

h2 {
    color: #F5CB5A;
    font-size: 150%;
    margin-top: 0%;
}

.long {
    width:17%;
    margin-top: 8%;
    padding: 1%;
    background-color: #313432;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.text_gener {
    margin-left: 3%;
    color: white;
}

.Générateur button {
    border-radius: 9px;
    padding: 2%;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background-color: #F5CB5A;;
}

.Générateur button:hover {
    background-color: #cdaa4b;
}

input[type="text"] {
    border-radius: 10px;
    padding: 2%;
    outline: none;
    box-shadow: none;
    width: 81%;
}

input[type="checkbox"] {
    width: 1.25em;
    height: 1.25rem;
    accent-color: #cdaa4b;
    cursor: pointer;
  }

  .travail *{
    display: inline-block;
    margin-left: 30px;
  }

  .finance *{
    display: inline-block;
    margin-left: 30px;
  }

  .comm *{
    display: inline-block;
    margin-left: 30px;
  }

  .autre *{
    display: inline-block;
    margin-left: 30px;
  }

  .autre{
    margin-bottom: 100px;
  }

  .Générateur {
    position: fixed;
    bottom: 10%; 
    right: 3%; 
    z-index: 999; 
}