body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items:start;
    background-color: #313432;
}   

header {
    background-color: #222222;
    width: 100%;
    height: 11%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    font-family: monospace;
    color: #F5CB5A;
    justify-content: space-between;
}

header img:first-child {
    width: 100px;
}

header img:last-child {
    width: 70px;
    padding-right: 2%;
}

.theader {
    margin-left: 0%;
    margin-right: 65%;
    font-size: 30px;
}

.profile {
    font-size: 25px;
    margin-left: 0%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #222222;
}

footer p {
    text-align: center;
    color: white;
    Font-family: monospace;
    font-size: 11px;
}

.fenetre {
    padding-left: 50px;
    margin-top: 120px;
}

.fenetre p {
    background-color: #222222;
    width: fit-content;
    margin-top: 30px;
    font-size: 30px;
    font-family: monospace;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.fenetre p:hover {
    color: #cdaa4b;
}

.Générateur {
    font-family: monospace;
    position: absolute;
    right: 3%;
    bottom: 10%;
    background-color: #222222;
    padding: 2%;
    border-radius: 15px;
}

.Générateur * {
    margin-bottom: 3%;
}

h2 {
    color: #F5CB5A;
    font-size: 150%;
    margin-top: 0%;
}

h3 {
    color: #F5CB5A;
}

.long {
    width:17%;
    margin-top: 8%;
    padding: 1%;
    background-color: #313432;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.text_gener {
    margin-left: 3%;
    color: white;
}

.Générateur button {
    border-radius: 9px;
    padding: 2%;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background-color: #F5CB5A;;
}

.Générateur button:hover {
    background-color: #cdaa4b;
}

input[type="text"] {
    border-radius: 10px;
    padding: 2%;
    outline: none;
    box-shadow: none;
    width: 81%;
}

input[type="checkbox"] {
    width: 1.25em;
    height: 1.25rem;
    accent-color: #F5CB5A;
    cursor: pointer;
  }

  .travail *{
    display: inline-block;
    margin-left: 30px;
  }

  .finance *{
    display: inline-block;
    margin-left: 30px;
  }

  .comm *{
    display: inline-block;
    margin-left: 30px;
  }

  .autre *{
    display: inline-block;
    margin-left: 30px;
  }

  .autre{
    margin-bottom: 100px;
  }

  .Générateur {
    position: fixed;
    bottom: 10%; 
    right: 3%; 
    z-index: 999; 
}

.travail, .finance, .comm, .autre {
    background-color: #222222;
    border-radius: 15px;
    padding: 2%;
    color: white;
    padding-left: 0%;
    padding-right: 0%;
    font-family: monospace;
    font-size: 125%;
}

.travail *, .finance *, .comm *, .autre * {
    margin-bottom: 3%;
}

.deco {
    background-color:#F5CB5A;
    padding: 2%;
    border-radius: 10px;
}

.deco a {
    font-family: monospace;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.deco:hover {
    background-color: #cdaa4b;
}

header img:last-child {
    width: 70px;
    padding-right: 2%;
}

.theader2 {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    margin-right: 2%;
}

.theader2 > * {
    margin-left: 5%; 
}

.boutons {
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F5CB5A;
    padding: 2%;
    font-weight: 550;
}

.boutons:hover {
    background-color: #cdaa4b;
}

.fenetre > div:not(p) {
    display:inline-flex;
    justify-content: left;
}

.mdpTra {
    background-color: #222222;
    color: #F5CB5A;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 6%;
    padding: 8%;
}

.nommdp {
    background-color: #F5CB5A;
    color: #222222;
    border-radius: 5px;
    padding: 5%;
}

.fenetre {
    font-family: monospace;
    font-weight: 600;
}

.mdp {
    color: #313432;
    background-color:#313432;
    border-radius: 6px;
}

.mdp:hover {
    color: #F5CB5A;
}

h4 {
    margin-top: 2%;
}