body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313432;
}

.fenetre_princ {
    position: relative;
    top: 12%;
    padding: 3px;
    background-color: #262625;
    border-radius: 15px;  
    width:15vi;
}

.cbld_titre {   
    position: fixed;
    top: 190px;
    width: 320px;
    height: 70px;
    background-color: #262625;
    border-radius: 20px;
}

.cbld_titre p {
    text-align: center;
    line-height: 3px;
    font-family:monospace;
    color: #F5CB5A;
    font-size: 35px;
    font-weight: 600;
}

.form_id > :nth-child(-n+8){
    margin-top: 15px;
    padding-left: 20px;
    Font-family: monospace;
    color: #FCFBFC;
    font-weight: 600;
    font-size: 15px;
}

.submt_fen input[type="submit"] {
    background-color: #F5CB5A;
    color: #2c2c2c;
    Font-family: monospace;
    font-size: 125%;
    font-weight: 600;
    border-radius: 15px;
    width: 65%;
    height: 4%;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-right: 3%;
}

.submt_fen {
    margin-left: 17%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #222222;
}

footer p {
    text-align: center;
    color: white;
    Font-family: monospace;
    font-size: 11px;
}

.logo {
    position: absolute;
    left:auto ;
    right:auto;
    top: 6%;
}

.logo img{
    width: 175px;
}

.form_id input[type="text"],
.form_id input[type="number"],
.form_id input[type="password"]{
    border-radius: 7px;
    margin-top: 2%;
    padding: 1%;
    background-color: #313432;
    border: none;
    color: white;
    width: 92%;
}

.id_nom input[type="text"], .id_prenom input[type="text"]{
    width: 80%;
}

.container {
    display: flex;
}

.revenir * {
    text-decoration: none;
    color: #F5CB5A;
    font-family: monospace;
    font-size: 10px;
}

.revenir {
    margin-left: 27%;
}

.revenir *:hover {
    text-decoration: underline;
}